<header class="header-about-us">
        
                <div class="container">
                    <h1>Journalist</h1>
                </div>
            </header>

            <div class="about-us">
                
                    <div class="info">
                        <div class="container">
                                <h3>Who we are</h3>
                                <p>
                                    <a href="www.poshka4.com">Poshka4.com</a> is a Website connecting Players, Talents, Intermediaries, Freestylers, Academies, Coaches, Journalists and clubs to connect with easily professional way and promote themselves and make the Football fans whose the play is played for them an effective part of the game not just a viewer.
                                </p>
                        </div>
                    </div>
            
                <div class="row">
                    <div class="col-md-6">
                    <%= image_tag("header/3.jpg") %>
                    </div>

                    <div class="col-md-6">
                        <div class="caption">
                                <h4>Our Mission</h4>
                                <p>Millions of young talented players didn’t have the chance of ever making it on the professional level so this talent is buried if no club or scout see it, Our Mission is to give fair chances to all our members including talents, players, agents, scouts, coaches, Freestylers, academies and clubs</p>
                        </div>
                        
                    </div>

                    <div class="col-md-6">
                        <div class="caption2">
                                <h4>I am interested, What should I do?</h4>
                                <p>
                                    If you are interested send us your promo videos and the following required data for you profile:-
                                </p>
        
                                    <ul class="list-unstyled">
                                        <li>Name:</li>
                                        <li>Email:</li>
                                        <li>Date of Birth:</li>
                                        <li>Height:</li>
                                        <li>Weight:</li>
                                        <li>Position:</li>
                                        <li>Current Club:</li>
                                        <li>End of contract date:</li>
                                        <li>If you did not play for club before just mention ( Talent )</li>
                                        <li>Strength:</li>
                                        <li>Your Agent:</li>
                                    </ul>
        
                                    <p>
                                            Send your videos and these info to myvideo@poshka4.com
                                    </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                    <%= image_tag("header/4.jpg") %>
                    </div>
                </div>
            </div>
