<header class="header-promovideo">
            <div class="container">
                <h1>Make Your Promo Video</h1>
            </div>
        </header>

        <div class="content-promovideo">
            <div class="container">
                    <p class="lead">We are making an amazing highlight recruiting videos that shows best of your skills whic is easiest way for a player to reach thousands of clubs, scouts and intermediaries all over the world and break geographic, time, and language barriers.</p>

                    <ul>
                        <span>Why making a promo video ?</span>
                        <li>Highlight your skills and your profile and feature it between other players</li>
                        <li>Reach thousands of clubs, scouts, intermediaries all over the world</li>
                        <li>Make it easy for scout and better saving time and cost of traveling</li>
                    </ul>
            </div>
            
            <div class="row">

                <div class="col-md">
                    <div class="price-card">
                        <div class="head">
                            <h5>Small Video Package</h5>
                            <span>29$</span>
                            <span>1 Full Match</span>
                            <p>We Create a Promo Video From a Full Match You Provide</p>
                            <ul>
                                <li>Video Streamed on poshka4.com homepage</li>
                            </ul>
                        </div>

                        <div class="body">
                            <ul>
                                <li>29$</li>
                                <li>29$</li>
                                <li>149EGP</li>
                                <li>149EGP</li>
                            </ul>

                            <button class="btn btn-primary">Add To Cart</button>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                        <div class="price-card">
                            <div class="head">
                                <h5>Medium Video Package</h5>
                                <span>59$</span>
                                <span>3 Full Match</span>
                                <p>We Create a Promo Video From a Full Match You Provide</p>
                                <ul>
                                    <li>Video Streamed on poshka4.com homepage</li>
                                    <li>Video Streamed on Youtube Channel</li>
                                    <li>Free 7 Days Profile Sponsorship</li>
                                </ul>
                            </div>
    
                            <div class="body">
                                <ul>
                                    <li>79$</li>
                                    <li>59$ 25%</li>
                                    <li>399EGP</li>
                                    <li>299EGP 25%</li>
                                </ul>
    
                                <button class="btn btn-primary">Add To Cart</button>
                            </div>
                        </div>
                </div>

                <div class="col-md">
                        <div class="price-card">
                            <div class="head">
                                <h5>Large Video Package</h5>
                                <span>99$</span>
                                <span>5 Full Match</span>
                                <p>We Create a Promo Video From a Full Match You Provide</p>
                                <ul>
                                    <li>Video Streamed on poshka4.com homepage</li>
                                    <li>Video Streamed on Youtube Channel</li>
                                    <li>Free 7 Days Profile Sponsorship</li>
                                </ul>
                            </div>
    
                            <div class="body">
                                <ul>
                                    <li>149$</li>
                                    <li>99$ 33%</li>
                                    <li>599EGP</li>
                                    <li>399EGP 33%</li>
                                </ul>
    
                                <button class="btn btn-primary">Add To Cart</button>
                            </div>
                        </div>
                </div>

                <div class="col-md">
                        <div class="price-card">
                            <div class="head">
                                <h5>PRO Video Package</h5>
                                <span>29$</span>
                                <span>Season Full Matches</span>
                                <p>We Create a Promo Video From a Full Match You Provide</p>
                                <ul>
                                    <li>Video Streamed on poshka4.com homepage</li>
                                    <li>Video Streamed on Youtube Channel</li>
                                    <li>Free 7 Days Profile Sponsorship</li>
                                </ul>
                            </div>
    
                            <div class="body">
                                <ul>
                                    <li>349$</li>
                                    <li>199$ 43%</li>
                                    <li>1399EGP</li>
                                    <li>799EGP 43%</li>
                                </ul>
    
                                <button class="btn btn-primary">Add To Cart</button>
                            </div>
                        </div>
                </div>

                <div class="col-md">
                        <div class="price-card">
                            <div class="head">
                                <h5>Small Video Package</h5>
                                <span>29$</span>
                                <span>1 Full Match</span>
                                <p>We Create a Promo Video From a Full Match You Provide</p>
                                <ul>
                                    <li>Video Streamed on poshka4.com homepage</li>
                                    <li>Video Streamed on Youtube Channel</li>
                                    <li>Free 7 Days Profile Sponsorship</li>
                                </ul>
                            </div>
    
                            <div class="body">
                                <ul>
                                    <li>999$</li>
                                    <li>499$ 50%</li>
                                    <li>3999EGP</li>
                                    <li>1999EGP 50%</li>
                                </ul>
    
                                <button class="btn btn-primary">Add To Cart</button>
                            </div>
                        </div>
                </div>

                <div class="col-12">
                        <div class="video-slider">
                                <div class="row">
        
                                    <div class="col-md-7">
                                        <div class="current-video">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/iuBTaO7MUuU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
        
                                    <div class="col-md-5">
                                        <div class="current-info" id="title1">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
        
                                        <div class="current-info" id="title2">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
                                        
        
                                        <div class="current-info" id="title3">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
        
                                        <div class="current-info" id="title4">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
        
                                        <div class="current-info" id="title5">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
        
                                        <div class="current-info" id="title6">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
        
                                        <div class="current-info" id="title7">
                                            <h2>Video Title</h2>
                                            <span>Oct 10/2016</span>
                                            <p>
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                            </p>
        
                                            <a class="btn btn-primary" href="#">Make Your Own Promo</a>
                                        </div>
                                    </div>
        
                                    <div class="col-md-12">
                                        <div class="pick-line">
                                            <div class="owl-carousel owl-theme owl-conta">
                                                <div><img src="https://img.youtube.com/vi/iuBTaO7MUuU/1.jpg" data-type="iuBTaO7MUuU" data-info="title1"></div>
                                                <div><img src="https://img.youtube.com/vi/ZmA1DY0Tt0I/1.jpg" data-type="ZmA1DY0Tt0I" data-info="title2"></div>
                                                <div><img src="https://img.youtube.com/vi/ZOiM-uNF_ks/1.jpg" data-type="ZOiM-uNF_ks" data-info="title3"></div>
                                                <div><img src="https://img.youtube.com/vi/R3JjId8q-Vg/1.jpg" data-type="R3JjId8q-Vg" data-info="title4"></div>
                                                <div><img src="https://img.youtube.com/vi/ZtaarNtJDWk/1.jpg" data-type="ZtaarNtJDWk" data-info="title5"></div>
                                                <div><img src="https://img.youtube.com/vi/SsjnyDhCFq4/1.jpg" data-type="SsjnyDhCFq4" data-info="title6"></div>
                                                <div><img src="https://img.youtube.com/vi/HPkvcDbRdJc/1.jpg" data-type="HPkvcDbRdJc" data-info="title7"></div>
                                            </div>
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
                </div>
                


            </div>
        </div>
