        <!--Start Footer-->
        <footer>
            <div class="container">
                <ul class="list-unstyled">
                    <li><a href="#">Add New CV</a></li>
                    <li><a href="#">Videographer List</a></li>
                    <li><a href="pages/transfer-window.html" target="_blank">Transfer Window</a></li>
                    <li><a href="/Promo-Video">Make Promo Video</a></li>
                    <li><a href="/FAQ">FAQ</a></li>
                    <li><a href="/Contact-Us">Contact Us</a></li>
                    <li><a href="/About-Us">About Us</a></li>
                </ul>
            </div>

            <div class="copyright">
                <p>Copyrights Reserved &copy; Poshka4.com</p>
            </div>
        </footer>